---
import Layout from "../layouts/Layout.astro"
import ContactImage from "../assets/images/contact.jpeg"
import { Image } from "astro:assets"
---

<Layout title="Contact" class="min-h-screen flex flex-col">
  <main>
    <section>
      <div class="mx-auto max-w-6xl">
        <div class="pb-6">
          <h2 class="text-4xl font-bold">Let's get in touch</h2>
          <p class="text-xl font-light text-slate-500">
            Have a question, need help, or interested in getting started in Web?
          </p>
        </div>
        <div class="flex gap-x-4">
          <form
            action="https://api.web3forms.com/submit"
            method="POST"
            class="flex flex-col flex-1 max-w-md py-10 px-8 border rounded-xl gap-4 shadow-md"
          >
            <input
              type="hidden"
              name="access_key"
              value="cdbb2e35-d45f-484e-ac21-e76fe500e381"
            />
            <div class="flex flex-col gap-y-1">
              <label for="name" class="font-medium">Name</label>
              <input
                type="text"
                name="name"
                class="border rounded-md h-10 p-2 font-normal hover:border-slate-300"
                placeholder="Your name"
                required
              />
            </div>
            <div class="flex flex-col gap-y-1">
              <label for="email" class="font-medium">Email</label>
              <input
                type="email"
                name="email"
                class="border rounded-md h-10 p-2 font-normal hover:border-slate-300"
                placeholder="Your email"
                required
              />
            </div>
            <div class="flex flex-col gap-y-1">
              <label for="message" class="font-medium">Message</label>
              <textarea
                name="message"
                class="border rounded-md p-2 h-20 font-normal hover:border-slate-300"
                placeholder="Your message"
                required></textarea>
            </div>
            <div class="h-captcha" data-captcha="true"></div>
            <button
              type="submit"
              class="h-10 font-semibold rounded-md bg-blue-600 text-white"
              >Submit</button
            >
          </form>
          <Image
            src={ContactImage}
            alt={"Contact Image"}
            class={"flex-1 rounded-lg shadow-md border overflow-hidden"}
            height={520}
          />
        </div>
      </div>
    </section>
  </main>
</Layout>
<script is:inline src="https://web3forms.com/client/script.js" async defer
></script>
