---
import { Image } from "astro:assets"
import Layout from "../layouts/Layout.astro"
import Cover from "../assets/images/cover.jpg"
---

<Layout title="Home" class="min-h-screen flex flex-col justify-between">
  <main class="flex-1 flex items-center">
    <div class="flex-[2] shrink-0 px-4 xl:px-14">
      <div
        class="font-extrabold text-7xl md:text-7xl [text-wrap:balance] bg-clip-text text-transparent bg-gradient-to-r from-slate-800/80 to-50% to-slate-900 tracking-tight"
      >
        Let's make an amazing <span
          class="text-blue-500 inline-flex flex-col h-[calc(theme(fontSize.4xl)*theme(lineHeight.tight))] md:h-[calc(theme(fontSize.7xl)*theme(lineHeight.tight))] overflow-hidden"
        >
          <ul
            class="block animate-text-slide-5 text-left leading-tight [&_li]:block"
          >
            <li class="tracking-tight">project</li>
            <li class="tracking-tight">website</li>
            <li class="tracking-tight">web app</li>
            <li class="tracking-tight">ecommerce</li>
            <li class="tracking-tight">software</li>
            <li aria-hidden="true" class="tracking-tight">project</li>
          </ul>
        </span>
      </div>
    </div>
    <Image
      src={Cover}
      alt={"Two women in a computer"}
      class="flex-1 rounded-l-3xl"
      height={720}
    />
  </main>
</Layout>
