---
import Layout from "../layouts/Layout.astro"
import Websites from "../components/Websites.astro"
---

<Layout title="Portfolio" class="md:min-h-screen">
  <main class="max-w-3xl mx-auto px-4 lg:pt-6">
    <h2 class="text-2xl font-semibold mb-4">
      <span class="text-3xl">🗂</span>
       Portfolio
    </h2>
    <Websites />
  </main>
</Layout>
