---
import { Icon } from "astro-icon"
---

<footer class="my-2 py-4 w-full">
  <div class="max-w-6xl mx-auto flex items-center justify-between">
    <p class="text-gray-700 text-xs font-medium">
      © 2023 ebasabe. All rights reserved
    </p>
    <ul class="flex items-center gap-x-6">
      <li>
        <a
          href="https://github.com/edubasabe"
          target="_blank"
          class="font-medium flex text-sm gap-x-2 items-center"
        >
          <Icon name="mdi:github" class="h-6 w-6" />Github
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/edubasabe"
          target="_blank"
          class="font-medium flex text-sm gap-x-2 items-center"
        >
          <Icon name="mdi:linkedin" class="h-6 w-6" />LinkedIn
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/ebasabe_design/"
          target="_blank"
          class="font-medium flex text-sm gap-x-2 items-center"
        >
          <Icon name="ant-design:instagram-outlined" class="h-6 w-6" />Instagram
        </a>
      </li>
    </ul>
  </div>
</footer>
