---
interface Props {
  title: string
  variable: string[]
}

const { title, variable } = Astro.props
---

<div class="flex-[2] mb-4 shrink-0 px-4 xl:px-14 flex items-center">
  <div
    class="font-extrabold text-5xl md:text-7xl [text-wrap:balance] bg-clip-text text-transparent bg-gradient-to-r from-slate-800/80 to-50% to-slate-900 tracking-tight"
  >
    {title}&nbsp;
    <span
      class="text-blue-500 inline-flex flex-col h-[calc(theme(fontSize.5xl)*theme(lineHeight.tight))] md:h-[calc(theme(fontSize.7xl)*theme(lineHeight.tight))] overflow-hidden"
    >
      <ul
        class="block animate-text-slide-5 text-left leading-tight [&_li]:block"
      >
        {variable.map((word) => <li class="tracking-tight">{word}</li>)}
        <li aria-hidden="true" class="tracking-tight">project</li>
      </ul>
    </span>
  </div>
</div>
